.popup__visible-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #B43B43;
    box-sizing: border-box;
    border-radius: 5.2px;
    margin-right: 6px;
  }