.claim__verse {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin: 0;
  margin-top: 8px;
  color: #191919;
}

@media(min-width: 1024px) {
  .claim__verse {
    font-size: 18px;
    line-height: 23px;
    margin: 0 70px 0 30px ;
  }
}