.popup__submit-button {
    box-shadow: 0px 4px 10px rgba(50, 40, 13, 0.25);
    border: none;
    border-radius: 16px;
    background-color: #ffed00;
    color: #191919;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 64px;
    margin: 24px auto 0;
    width: 100%;
}


@media (max-width: 360px) {
    .popup__submit-button {
        height: 40px;
        font-size: 14px;
    }
  }

@media(min-width: 1024px) {
    .popup__submit-button:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s;
    }  
}