/* это грязь, так нельзя, буду потом переделывать */
* {
  scroll-behavior: smooth;
}

.app {
  margin: 0 auto;
  width: 100%;
  font-family: 'PT Sans Caption';
  font-weight: 400;
  background-color: #f74452;
 }
