/* это грязь, так нельзя, буду потом переделывать */
* {
  scroll-behavior: smooth;
}

.app {
  margin: 0 auto;
  width: 375px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  background-color: #f74452;
 }
