.ticker__line {
  margin: 8px 0;
  font-family: 'Neue Machina';

  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
  color: #F36755;
}

@media(min-width: 1024px) {
  .ticker__line {
    font-size: 20px;
    line-height: 25px;
  }
}