.card {
  list-style: none;
  border-radius: 16px;
  min-width: 100%;
  height: 208px;
  margin: 0 17px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(360deg, #191919 0%, #000000 0.01%, rgba(158, 158, 158, 0) 82.21%),
  url(../../images/news-znaki.jpg);
  background-size: cover;
}

.card:last-of-type {
  margin: 0;
}

.swiper-slide {
  margin: 0;
  width: 320px;
  height: 209px;
  object-fit: cover;
  border-radius: 16px;
}

@media screen and (min-width: 675px) {
  .card {
    background-color: blue;
   
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: 544px;
    height: 675px; 
  }

  .swiper-slide {
    width: 544px;
    height: 675px; 
  }
  
}

