.popup__submit-button_inactive {
    background-color: #D0D0D0;
    color: #717171;
}

@media(min-width: 1024px) {
    .popup__submit-button:hover {
    cursor: auto;
    opacity: 1;
    transition: none;
    }  
}