.popup__poem {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 240px;
    position: relative;
    border: 1px solid #F36755;
    border-radius: 16px;
    color: #191919;
    line-height: 20px;
    overflow: scroll;
    scroll-padding: 16px 10px;
}