.popup__checkbox-label {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__checkbox:hover {
    cursor: pointer;
}