.popup__input {
    width: 100%;
    box-sizing: border-box;
    min-height: 44px;
    margin-bottom: 16px;
    padding-left: 28px;
    border: 1px solid #F9D3B3;
    border-radius: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #717171;
}