.claim__city {
  margin: 1px 0 0 0;
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #191919;
}

@media(min-width: 1024px) {
  .claim__city {
    font-size: 18px;
    line-height: 23px;
  }
}