.popup__news-city {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  width: fit-content;
  position: absolute;
  bottom: 48px;
  left: 24px;
}
